<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.waciao.dao.UserMapper">

    <insert id="addUser" parameterType="com.waciao.pojo.User">
        INSERT INTO mybatis.user(name, pwd) VALUES (#{name}, #{pwd});
    </insert>

    <delete id="deleteUser" parameterType="int">
      DELETE FROM mybatis.user WHERE id = #{id};
    </delete>

    <update id="updateUser" parameterType="com.waciao.pojo.User">
      UPDATE mybatis.user SET name = #{name},pwd=#{pwd} where id=#{id};
    </update>

    <select id="getUserList" resultType="com.waciao.pojo.User">
        SELECT * FROM mybatis.user;
    </select>

    <select id="getUserById" resultType="com.waciao.pojo.User" parameterType="int">
        SELECT * FROM user WHERE id = #{id}
    </select>

</mapper>